.search-panel {
    margin-top: 30px;
    padding: 25px;
    background-color: #f49b17;
    border-radius: 8px;

    color: black;
}

.form-control.search-input {
    width: 100%;
    margin: auto;
}

.input {
    display: flex;
}
