.list-group-item {
    padding: 15px 20px;
    border-bottom: 1px solid #000000;
}

.done {
    background-color: rgb(226, 255, 182);
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item span {
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.list-group-item input {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    border: 0;
    background-color: transparent;
    max-width: 100px;
}

.list-group-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.list-group-item .btn-trash {
    color: #e5383b;
    font-size: large;
}

.list-group-item .fa-star {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #ffd700;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}

.list-group-item .checked-field {
    color: orange;
    font-size: large;
}

.list-group-item.like .fa-star {
    opacity: 1;
    transform: translateX(0px);
}

.list-group-item.increase .btn-star {
    color: #aeaeae;
}

#position {
    min-width: 25px;
}

#client {
    min-width: 150px;
}

#date {
    min-width: 150px;
}

#amount {
    min-width: 75px;
}

#type {
    min-width: 100px;
}

#product {
    min-width: 200px;
    text-align: center;
}

span {
    min-width: 175px;
    text-align: center;
}
